<!DOCTYPE html>
<html>
  <head>
    <title>Club</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="w-screen h-screen">
      <div class="flex justify-center"><%= locals.err %></div>
      <% if(!user.inClub){ %>
        <h1 class="pt-20 flex justify-center text-5xl font-thin">Join the club</h1>
      <% } else{ %>
        <h1 class="pt-20 flex justify-center text-5xl font-thin">Leave the club</h1>
      <% } %> 
      <div class="w-screen flex justify-center">
        <form action="/club" method="POST">
          <input name="code" type="text" placeholder="Enter code" required class="mt-10 w-64 border-b-2 border-gray-300 cursor-pointer focus:outline-none focus:border-blue-300 hover:border-gray-900 transition-colors block">
          <button type="submit" name="club" value="confirm" class="mt-5 flex border-gray-300 cursor-pointer border-2 w-36 px-4 py-1 focus:border-blue-300 hover:border-gray-900 transition-colors">Confirm<button>
        </form>
      </div>
    </div>
  </body>
</html>