<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="w-screen h-screen">
      <% if(locals.user){ %>
        <h1 class="pt-20 flex justify-center text-5xl font-thin">Hi <%= locals.user.email %></h1>
        <h1 class="flex justify-center text-5xl font-thin">Welcome to members only app</h1>
      <% } else{ %>
        <h1 class="pt-20 flex justify-center text-5xl font-thin">Welcome to members only app</h1>
      <% } %>
      <div class="flex justify-center pt-6">
        <% if(locals.user){ %>
          <% if(locals.user.inClub){ %>
            <a href='/create' class="w-16 mr-6 border-b-2 border-gray-300 hover:border-gray-900 transition-colors">Create</a>
            <a href='/club' class="w-16 mr-6 border-b-2 border-gray-300 hover:border-gray-900 transition-colors">Club</a>
            <a href="/log-out" class="w-16 mr-6 border-b-2 border-gray-300 hover:border-gray-900 transition-colors">Log out</a>
          <% } else{ %>
            <a href='/club' class="w-16 mr-6 border-b-2 border-gray-300 hover:border-gray-900 transition-colors">Club</a>
            <a href="/log-out" class="w-16 mr-6 border-b-2 border-gray-300 hover:border-gray-900 transition-colors">Log out</a>
          <% } %>
        <% } else{ %>  
          <a href="/log-in" class="mr-6 w-16 border-b-2 border-gray-300 hover:border-gray-900 transition-colors">Log in</a>
          <a href="/sign-up" class="mr-6 w-16 border-b-2 border-gray-300 hover:border-gray-900 transition-colors">Sign up</a>
        <% } %>
      </div>
      <div class="mt-5 w-96 p-3 mx-auto flex border-2 flex-col hover:bg-gray-200 transition-colors">
        <h1 class="border-b-2 border-gray-300 text-2xl">This is a title</h1>
        <p>This is description content and this is a description content and this is a description content</p>
        <div class="flex justify-between mt-2">
          <h1>Author</h1>
          <h1>Date</h1>
        </div>
      </div>
    </div>
  </body>
</html>
